@use "./variables.scss" as *;

// Supports weights 100-900
@use "@fontsource-variable/work-sans";

body {
    @include body-font;
    font-size: $font-size-base;
    line-height: $line-height-normal;
    color: $text-color;
    background-color: $background-color;
    margin: 0;

    --headshot-height: 35vh;
    @media screen and (max-width: $tablet-breakpoint) {
        --headshot-height: 15vh;
    }   
    @media screen and (max-width: $mobile-breakpoint) {
        --headshot-height: 0;
    }

}
html,body {
    height: 100%;
}

*, html {

    scroll-behavior: smooth;

    // Firefox
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: auto;
        scrollbar-color: $accent-color $background-color;
    }
	
	// Webkit
	&::-webkit-scrollbar {
		width: 10px;
		height: 5px;
		&-track {
			background-color: $background-color;
		}
		&-thumb {
			background-color: $accent-color;
			border-radius: 10px;
		}
	}

}

.large-scrollbar {
    scrollbar-width: auto;
    &::-webkit-scrollbar {
        width: 20px;
        height: 10px;
    }
}


h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    line-height: $line-height-tight;
    margin: 0 0 1rem;
}
h1 {
    font-weight: $font-weight-black;
}
h2 {
    font-weight: $font-weight-bold;
}
h3, h4, h5, h6 {
    font-weight: $font-weight-normal;
}

h1.page-header {
    font-size: $font-size-4xl;
    @include heading-font;
    font-weight: $font-weight-black;
    margin: 0 0 1rem;
    @media (max-width: $tablet-breakpoint) {
        font-size: $font-size-3xl;
    }
    @media (max-width: $mobile-breakpoint) {
        font-size: $font-size-2xl;
    }
}

button {
    @include body-font;
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-normal;
}



// FancyBox lightboxes makes transparent diagrams/charts unreadable
// Chuck a transparent texture behind them
div.fancybox__container img.fancybox-image {
    background: repeating-conic-gradient(#fff 0% 25%, #eee 0% 50%) 
    50% / 20px 20px;
}


@media print 
{
    @page {
      size: A4; /* DIN A4 standard, Europe */
      margin: $print-page-top-padding 0 0 0;
    }
}


.removed {
    display: none !important;
}