@use "./variables.scss" as *;

// Supports weights 100-900
@use "@fontsource-variable/work-sans";

body {
    @include body-font;
    font-size: $font-size-base;
    line-height: $line-height-normal;
    color: $text-color;
    background-color: $background-color;
    margin: 0;

    --headshot-height: 35vh;
    @media screen and (max-width: $tablet-breakpoint) {
        --headshot-height: 15vh;
    }   
    @media screen and (max-width: $mobile-breakpoint) {
        --headshot-height: 0;
    }

}
html,body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    // Firefox
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: auto;
        scrollbar-color: $accent-color $background-color;
    }

	// Webkit
	&::-webkit-scrollbar {
		width: 10px;
		height: 5px;
		&-track {
			background-color: $background-color;
		}
		&-thumb {
			background-color: $accent-color;
			border-radius: 10px;
		}
	}

}

.large-scrollbar {
    scrollbar-width: auto;
    &::-webkit-scrollbar {
        width: 20px;
        height: 10px;
    }
}


h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    margin: 0 0 $space-sm;
}

h1 {
    font-weight: $font-weight-black;
    line-height: $line-height-tight;
    letter-spacing: $letter-spacing-tight;
}

h2 {
    font-weight: $font-weight-bold;
    line-height: $line-height-tight;
    letter-spacing: $letter-spacing-tight;
}

h3 {
    font-weight: $font-weight-semibold;
    line-height: $line-height-snug;
}

h4, h5, h6 {
    font-weight: $font-weight-normal;
    line-height: $line-height-snug;
}

// Paragraph typography
p {
    margin: 0 0 $space-sm;
    line-height: $line-height-normal;

    // Remove margin from last paragraph in container
    &:last-child {
        margin-bottom: 0;
    }
}

h1.page-header {
    font-size: $font-size-4xl;
    @include heading-font;
    font-weight: $font-weight-black;
    line-height: $line-height-none;
    letter-spacing: $letter-spacing-tight;
    margin: 0 0 $space-smd;

    @media (max-width: $tablet-breakpoint) {
        font-size: $font-size-3xl;
        line-height: $line-height-tight;
    }
    @media (max-width: $mobile-breakpoint) {
        font-size: $font-size-2xl;
        line-height: $line-height-tight;
    }
}

button {
    @include body-font;
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-normal;
}



// FancyBox lightboxes makes transparent diagrams/charts unreadable
// Chuck a transparent texture behind them
div.fancybox__container img.fancybox-image {
    background: repeating-conic-gradient(#fff 0% 25%, #eee 0% 50%) 
    50% / 20px 20px;
}


@media print 
{
    @page {
      size: A4; /* DIN A4 standard, Europe */
      margin: $print-page-top-padding 0 0 0;
    }
}


// Page transitions (View Transitions API)
@keyframes vt-fade-in {
    from { opacity: 0; }
}
@keyframes vt-fade-out {
    to { opacity: 0; }
}

::view-transition-old(page-content) {
    animation: 120ms ease-out both vt-fade-out;
}
::view-transition-new(page-content) {
    animation: 150ms ease-in 80ms both vt-fade-in;
}

// Prevent the root snapshot from animating (keeps nav/background stable)
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
}

// Navigation buttons morph between layouts (position/size handled automatically)
::view-transition-group(nav-btn-1),
::view-transition-group(nav-btn-2),
::view-transition-group(nav-btn-3),
::view-transition-group(nav-social) {
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.removed {
    display: none !important;
}