/* Variables and mixins declared here will be available in all other SCSS files */

@use "sass:math";

$text-color: #222;
$background-color: #fff;

$dark-text-color: #fff;
$dark-background-color: #222;

$mid-tone: #d1d1d1;

// $text-color: #eee;
// $background-color: #333;

$primary-color: #451952;
$tint-color: #662549;
$secondary-color: #AE445A;
$accent-color: #F39F5A;

$positive-color: #13934f;
$negative-color: #cb5f5f;

$mobile-breakpoint: 600px;
$tablet-breakpoint: 1200px;
$chonk-breakpoint: 2000px;

$layout-content-margin: 5rem;

$blog-size: $tablet-breakpoint;
$blog-content-percent: 80%;
$max-blog-space-available: calc($blog-size * ($blog-content-percent / 100%) - $layout-content-margin);

$border-radius: 0.5rem;

@mixin body-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}
@mixin heading-font {
    font-family: 'Work Sans Variable', sans-serif;
}
@mixin mono-font {
    font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

@function repeat($character, $n){
    $c:"";
    @for $i from 1 through $n {
        $c: $c + $character;
    }
    @return $c;
}
@function repeat-with-join($string, $separator, $n) {
    @return repeat($string + $separator,$n - 1) + $string;
}

$print-page-padding: 5rem;

@mixin icon-inline {
    :global(svg) {
        height: 1.3em;
        max-width: 1.3em;
        display: inline;
        vertical-align: text-top;
    }

}