/* Variables and mixins declared here will be available in all other SCSS files */

$text-color: #222;
$background-color: #fff;

// $text-color: #eee;
// $background-color: #333;

$primary-color: #451952;
$tint-color: #662549;
$secondary-color: #AE445A;
$accent-color: #F39F5A;